PINECONE_API_KEY=pcsk_5Ls7Lj_DGiPYtPjzBZqYRatucot9AHDfZRCjqbVAbst9DLDmsgDSMNzjD5DgvEEamq3A6Q
GEMINI_API_KEY=AQ.Ab8RN6JoWuwMGM3jx2K0aomOzMggAIDtOn_yfA0pOuXQgsfoYw
PINECONE_INDEX_NAME=company-chat-bot
GROQ_API_KEY=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